body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Color de fondo ligeramente oscuro */
  color: #fff; /* Color de texto blanco */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 20px;
}
