<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes Sociales</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="social-section">
        <h2>¡Síguenos en nuestras redes sociales!</h2>
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/?locale=es_LA"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png" alt="Facebook"></a></li>
            <li><a href="https://x.com/?lang=es"><img src="https://cdn-3.expansion.mx/dims4/default/71fd829/2147483647/resize/1280x/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F58%2F66%2Fdb5de50f4ab4970bed8ab24d7aae%2Ftwitter-logo-x.jpg" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" alt="Instagram"></a></li>
            <li><a href="https://mx.linkedin.com/?trk=guest_homepage-basic_nav-header-logo"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn"></a></li>
            <li><a href="https://www.youtube.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" alt="YouTube"></a></li>
        </ul>
    </div>
</body>
</html>
