

.max-w-6xl {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.hotel-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hotel-card {
    width: 100%;
    max-width: 600px;
    margin: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}



.hotel-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.hotel-details {
    padding: 1rem;
}

.hotel-name {
    font-size: 1.5rem;
    padding: 10px 0;
    text-transform: uppercase;
}

.hotel-address {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    display: flex;
}

.hotel-address svg {
    padding-right: 5px;
}

.end-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.bedrooms {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.bedrooms svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: currentColor;
}

.bedrooms p {
    display: flex;
    font-size: 1rem;
    align-items: center;
    margin: 0;
}

.avaible-bdrms {
    font-weight: bold;
    margin-right: 4px;
}

.hotel-price span {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: right;
    margin-left: 16px;
}

.booking-section {
    margin: 1rem 0;
    padding-right: 1rem;
}

.booking-section label {
    display: block;
    margin-bottom: 0.5rem;
}

.date-inputs {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.date-input-container {
    flex: 1;
    min-width: 200px;
}

.booking-section input {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button-container {
    text-align: center;
}

.button {
    width: 13em;
    font-size:1rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.button:hover {
    background-color: #2d3748;
}

@media (min-width: 640px) {
    .hotel-card {
        width: calc(75% - 2rem);
    }
}

@media (min-width: 1024px) {
    .hotel-card {
        width: calc(75% - 2rem);
    }
}
