<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="title">
        <h3>¡Visítanos en nuestras páginas oficiales!</h3>
    </div>
    <div class="container">
        <div class="text">
            <h3>Conéctate con amigos y descubre las mejores experiencias en nuestros hoteles en Facebook.</h3>
            <p>Conéctate con amigos y descubre las mejores experiencias en nuestros hoteles en Facebook.</p>
        </div>
        <div class="cardright">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png"
                    class="image" alt="Facebook" alt="">
                <div class="content">
                    <h5>Facebook</h5>
                    <button type="button" class="btn">Visitar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cardright">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" class="image" alt="Facebook" alt="">
                <div class="content">
                    <h5>Instagram</h5>
                    <button type="button" class="btn">Visitar</button>
                </div>
            </div>
        </div>
        <div class="text1">
            <h4>Únete a la conversación global sobre viajes y descubre nuestras últimas novedades en Twitter.</h4>
            <p>En Twitter, te mantendremos actualizado con noticias de nuestros hoteles, tips de viaje y promociones
                especiales. Únete a la conversación, comparte tus historias de viaje y conecta con otros amantes de los
                destinos únicos que ofrecemos.</p>
        </div>
    </div>
    <div class="container">
        <div class="text">
            <h3>Inspírate y comparte momentos únicos de tus estancias en nuestros hoteles en Instagram.</h3>
            <p>Sigue nuestro perfil en Instagram para explorar fotos y videos inspiradores de nuestros hoteles y
                destinos. Descubre la belleza de nuestros alojamientos, encuentra consejos de viaje y comparte tus
                experiencias con nuestra comunidad de viajeros apasionados.</p>
        </div>
        <div class="cardright">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKJyfX3VaLeWVozKSRcpbnY_qQrvGk13Fqjw&s"
                    class="image" alt="Facebook" alt="">
                <div class="content">
                    <h5>Twitter</h5>
                    <button type="button" class="btn">Visitar</button>
                    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKJyfX3VaLeWVozKSRcpbnY_qQrvGk13Fqjw&s"></a>
                </div>
            </div>
        </div>
    </div>
</body>