.menu-container {
    position: relative;
  }
  
  .dropdown-menu {
    
    display: block;
    position: absolute;
    top: 100%;
    left: 0; /* Ajusta la posición izquierda */
    width: 200px; /* Ajusta el ancho del menú según sea necesario */
    background-color: #fff; /* Color de fondo del menú */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Asegura que esté por encima del resto del contenido */
    padding: 5px; /* Espaciado interno del menú */
    border-radius: 4px; /* Bordes redondeados */
    transform: translateX(-62%); /* Centra el menú respecto al punto izquierdo */
    overflow: hidden;
  }
  
  .dropdown-menu.active {
    display: block; /* Mostrar el menú cuando esté activo */
  }
  
  .dropdown-menu li {
  list-style-type: none;
  margin-bottom: 8px;
  text-align: center;
  display: flex; /* Utiliza flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.dropdown-menu li a {
    width: 100%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-decoration: none;
  color: #960000;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}
  