<nav>
  <ul class="sidebar">
    <li (click)="hideSidebar()">
      <a><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231Z"/></svg></a>
    </li>
    <li (click)="hideSidebar()"><a routerLink=''>Inicio</a></li>
    <li (click)="hideSidebar()"><a routerLink='catalog'>Hoteles</a></li>
    <li (click)="hideSidebar()"><a routerLink='about'>Acerca</a></li>
    <li (click)="hideSidebar()"><a routerLink='forums'>Redes</a></li>
    <li *ngIf="user; else loginLink" (click)="logout()"><a>Logout</a></li>
    <ng-template #loginLink>
      <li (click)="hideSidebar()"><a routerLink='profile'>Login</a></li>
    </ng-template>
  </ul>
  <ul class="navbar">
    <li><a>{{ user?.email || 'Hotel' }}</a></li>
    <li class="hideOnMobile"><a routerLink=''>Inicio</a></li>
    <li class="hideOnMobile"><a routerLink='catalog'>Hoteles</a></li>
    <li class="hideOnMobile"><a routerLink='about'>Acerca</a></li>
    <li class="hideOnMobile"><a routerLink='forums'>Redes</a></li>
    <li class="hideOnMobile">
      <a><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
      </svg>
      </a>
    </li>
    <div class="menu-container">
      <li *ngIf="user; else loginNeed" class="hideOnMobile">
        <a (click)="toggleMenu()">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
        </a>
        <ul *ngIf="showMenu" class="dropdown-menu">
          <!-- Contenido del menú -->
          <li>{{user.email}}</li>
          <li><a (click)="logout()" (click)="toggleMenu()">Cerrar Sesion</a></li>

        </ul>
      </li>
    </div>
    <ng-template #loginNeed>
      <li class="hideOnMobile"><a routerLink='profile'><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
      </svg>
      </a></li>
    </ng-template>
    <li class="menu-button" (click)="showSidebar()">
      <a><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a>
    </li>
  </ul>
</nav>
