body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.navbar li {
    border: solid 0px;
}

.navbar li a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.navbar li a:hover {
    background-color: #cecece;
}

.hideOnMobile {
    display: none;
}

.menu-button a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

/* Media query to show .hideOnMobile class on larger screens */
@media (min-width: 600px) {
    .hideOnMobile {
        display: list-item;
    }
}
