body {
    font-family: Arial, sans-serif;
    background: #5f5c5c; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    background: rgba(39, 38, 38, 0.8); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    width: 300px; 
    max-width: 90%; 
    margin-bottom: 20px; 
}

.login-box {
    padding: 20px;
}

.avatar {
    background: url('https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg') no-repeat center center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); 
    color: #fff;
}

.button-box {
    margin-bottom: 10px; 
}

.button-box button {
    width: 100%;
    padding: 10px;
    background-color: #1d1d1d; 
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.button-box button:hover {
    background-color: #818181; 
}

.button-box button:active {
    background-color: #b9b8b7; 
}

.forgot-password {
    margin-bottom: 10px; 
}

.forgot-password a {
    color: #fff;
    text-decoration: none;
}

.register-box {
    margin-top: 10px; 
}

.register-box a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.google-login {
    background: #dd4b39; 
    color: #fff;
    transition: background-color 0.3s ease; 
}

.google-login:hover {
    background-color: #c23321; 
}

.google-login:active {
    background-color: #e7ccc9; 
}
